        </section>
        
        <footer class="bg-dark text-light footer mt-auto">
        <div class="container">
            <p class="text-center"><a href="/">Tauto-école.net</a> - <a href="contact">Contact</a> - <a href="ressources">Ressources</a> - <a href="https://tauto-ecole.net/nextcloud/">Interface privée</a> - <a href="admin">Garradin</a></p>
        </div>
    </footer>
    <script src="js/res.js"></script>
</body>

</html>
