{{if $page.uri == "permis" || $page.uri == "formateurice" }}
	{{:assign current = "permis"}}
{{elseif $page.uri == "fonctionnement"}}
	{{:assign current = "fonctionnement"}}
{{elseif $page.uri == "ressources" || $page.uri == "monte-ta-toto"}}
	{{:assign current = "ressources"}}
{{else}}
	{{:assign current = "home"}}
{{/if}}

{{:include file="_head.html" title=$page.title current=$current}}

<div class="container">
    <h1>{{$page.title}}</h1>
    
    {{$page.html|raw}}

    {{:include file="gallery.html" parent=$page.path}}
    {{:include file="documents.html" parent=$page.path}}

</div>

{{:include file="_foot.html"}}
