{{:include file="_head.html" current="home"}}


    <div class="container">
    
        {{#articles uri="description" order="published DESC" future=false limit=1}}
            {{ $content|raw }}
        {{/articles}}
        
        <hr>
        
        <h3>Dernières nouvelles</h3>
		<div class="nouvelles">
        {{#articles parent="nouvelles" order="published DESC" future=false limit=2}}
		<small><i>Le {{$published|relative_date}} :</i></small>
            {{ $html|raw }}
        {{/articles}}
		</div>
        
        <div class="text-center">
        {{*Fixme: link*}}
            <a href="nouvelles">Voir les anciennes nouvelles →</a>
        </div>
        <hr>
    </div>
    
    {{*Features*}}
    
    {{#articles uri="features" order="published DESC" future=false limit=1}}
        {{ $content|raw }}
    {{/articles}}
    
    {{#articles uri="home" order="published DESC" future=false limit=1}}
        {{ $content|raw }}
    {{/articles}}
 
{{:include file="_foot.html"}}
